* {
    margin: 0;
    padding: 0;
}
#clickArea {
    height: 80vh;
    width: 100vw;
}
#button {
    display: flex;
    background-color: #fff;
    height: max-content;
    width: max-content;
    border: 2px solid #000;
}
#buttonText {
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 20px;
}