* {
    margin: 0;
    padding: 0;
}
p {
    font-family: sans-serif;
}
#clickArea {
    height: 80vh;
    width: 100vw;
}
#button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    height: max-content;
    width: max-content;
    border: 2px solid #000;
}
#buttonText {
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 20px;
}